*{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}

body{
       background-color: #000;
       min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  min-height: 100vh;
}
.dice {
  width: 300px;
  height: 300px;
  /* border: 1px solid white; */
  position: relative;
  transform-style: preserve-3d;
  transition: 7s;
  /* border: 1px solid white; */
  margin: 200px auto;
  background-color: #fff;

  &:hover{
         transform: rotate3d(1,1,1, 360deg);
  }

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px 2px rgba(255, 255, 255, 0.485);
    >div{
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 10px;
       background-color: white;
       flex-wrap: wrap;
       padding: 80px;
       gap: 10px;
       border: 10px solid black;
       >span{
              width: 40px;
              height: 40px;
              background-color: black;
              border-radius: 50%;
       }
    }

    &:nth-of-type(1) {
      background-color: whitesmoke;
      transform: translateZ(150px);

    }
    &:nth-of-type(2) {
      background-color: whitesmoke;
      transform: translateZ(-150px);
    }
    &:nth-of-type(3){
       background-color: whitesmoke;
       transform: translateZ(150px) rotateY(-90deg);
       transform-origin: right;
    }
    &:nth-of-type(4){
       background-color: whitesmoke;
       transform: translateZ(-150px) rotateY(-90deg);
       transform-origin: left;
    }
    &:nth-of-type(5){
       background-color: whitesmoke;
       transform: translateZ(150px) rotateX(-90deg);
       transform-origin: top;
    }
    &:nth-of-type(6){
       background-color: whitesmoke;
       transform: translateZ(-150px) rotateX(-90deg);
       transform-origin: bottom;
    }
  }
}

